
  {% extends 'base_accounts.html' %}

  {% block title %}Vincula tu cuenta{% endblock title %}
  {% block content %}
    <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-start py-5">
            <div class="container">
                <img src="{{STATIC_URL}}img/logo.png" class="mb-3 img-fluid img-logo-sm">
                <h5 class="text-center mb-3">Vincula tu cuenta HSBC</h5>
                <div class="row">
                    <div class="col-md-9 col-lg-10 mx-auto">
                        <img src="{{STATIC_URL}}img/logo_hsbc.gif" class="img-logo-sm d-block mx-auto mb-4">
                        <form action="." method="POST">
                            {% csrf_token %}
                            <div class="form-label-group">
                              {{form.account_number}}
                              <label for="id_account_number">{{form.account_number.label}}</label>
                              {% if message %}<small class='help-block help-block-error'>{{message}}</small>{% endif %}
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="password-input" class="form-control" placeholder="Password" required autofocus>
                                <label for="password-input">Contraseña</label>
                            </div>
                            <button class="btn btn-lg btn-block btn-login text-uppercase font-weight-bold mt-4 mb-2" type="submit">Comenzar</button>
                            <div class="text-center">
                              <a class="small" href="{% url 'login:dashboard' %}">Omitir</a>
                            </div>                        
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
{% endblock content %}

{% block docready %}
    {% if message %}
      $("#id_account_number").addClass('invalid');
    {% endif %}

    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

    elems.forEach(function(html) {
      var switchery = new Switchery(html);
    });
{% endblock %}

