{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}
{% block custom_css %}
<style type="text/css">
    #chartdiv5,
#chartdiv4,
#chartdiv6,
#chartdiv3{
  width: 100%;
  height: 500px;
}

.fijos h1{
    color: var(--dark-green);
    font-size: 60px;
}
.fijos{
    padding: 100px 0;
}
</style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div id="chartdiv3"></div>
        </div>
        <div class="col-sm-6">
            <div id="chartdiv4"></div>
        </div>
    </div>
    <div class="row fijos">
        <div class="col-sm-4">
            <h1 class="title text-center">$<span class="coun">{{scores.balance_actual|floatformat:2}}</span></h1>
            <h5 class="text-center">Balance actual</h5>
        </div>
        <div class="col-sm-4">
            <h1 class="title text-center">$<span class="coun">{{scores.ingresos_promedio|floatformat:2}}</span></h1>
            <h5 class="text-center">Ingreso promedio</h5>
        </div>
        <div class="col-sm-4">
            <h1 class="title text-center">$<span class="coun">{{scores.gastos_promedio|floatformat:2}}</span></h1>
            <h5 class="text-center">Gastos promedio</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="chartdiv5"></div>
        </div>
        <div class="col-md-6">
            <div id="chartdiv6"></div>
        </div>
    </div>
  <input type="hidden" value="{{scores.gastos_mensuales.0}}" class="gastos_mensuales">
  <input type="hidden" value="{{scores.gastos_mensuales.1}}" class="gastos_mensuales">
  <input type="hidden" value="{{scores.gastos_mensuales.2}}" class="gastos_mensuales">
  <input type="hidden" value="{{scores.ahorro_mensual.0}}" class="ahorro_mensual">
  <input type="hidden" value="{{scores.ahorro_mensual.1}}" class="ahorro_mensual">
  <input type="hidden" value="{{scores.ahorro_mensual.2}}" class="ahorro_mensual">
  <input type="hidden" value="{{scores.ingresos_mensuales.0}}" class="ingresos_mensuales">
  <input type="hidden" value="{{scores.ingresos_mensuales.1}}" class="ingresos_mensuales">
  <input type="hidden" value="{{scores.ingresos_mensuales.2}}" class="ingresos_mensuales">
  <input type="hidden" value="{{scores.balance_fin_mes.0}}" class="balance_fin_mes">
  <input type="hidden" value="{{scores.balance_fin_mes.1}}" class="balance_fin_mes">
  <input type="hidden" value="{{scores.balance_fin_mes.2}}" class="balance_fin_mes">
  <input type="hidden" value="{{scores.score.vivienda.0}}" class="vivienda_score">
  <input type="hidden" value="{{scores.score.vivienda.1}}" class="vivienda_score">
  <input type="hidden" value="{{scores.score.vivienda.2}}" class="vivienda_score">
  <input type="hidden" value="{{scores.score.deuda.0}}" class="deuda_score">
  <input type="hidden" value="{{scores.score.deuda.1}}" class="deuda_score">
  <input type="hidden" value="{{scores.score.deuda.2}}" class="deuda_score">
  <input type="hidden" value="{{scores.score.libertad.0}}" class="libertad_score">
  <input type="hidden" value="{{scores.score.libertad.1}}" class="libertad_score">
  <input type="hidden" value="{{scores.score.libertad.2}}" class="libertad_score">
  <input type="hidden" value="{{scores.score.ahorro.0}}" class="ahorro_score">
  <input type="hidden" value="{{scores.score.ahorro.1}}" class="ahorro_score">
  <input type="hidden" value="{{scores.score.ahorro.2}}" class="ahorro_score">
  <input type="hidden" value="{{scores.score.total.0}}" class="total_score">
  <input type="hidden" value="{{scores.score.total.1}}" class="total_score">
  <input type="hidden" value="{{scores.score.total.2}}" class="total_score">
  <input type="hidden" value="{{scores.salud_fin.vivienda.0}}" class="vivienda_salud">
  <input type="hidden" value="{{scores.salud_fin.vivienda.1}}" class="vivienda_salud">
  <input type="hidden" value="{{scores.salud_fin.vivienda.2}}" class="vivienda_salud">
  <input type="hidden" value="{{scores.salud_fin.deuda.0}}" class="deuda_salud">
  <input type="hidden" value="{{scores.salud_fin.deuda.1}}" class="deuda_salud">
  <input type="hidden" value="{{scores.salud_fin.deuda.2}}" class="deuda_salud">
  <input type="hidden" value="{{scores.salud_fin.libertad.0}}" class="libertad_salud">
  <input type="hidden" value="{{scores.salud_fin.libertad.1}}" class="libertad_salud">
  <input type="hidden" value="{{scores.salud_fin.libertad.2}}" class="libertad_salud">
  <input type="hidden" value="{{scores.salud_fin.ahorro.0}}" class="ahorro_salud">
  <input type="hidden" value="{{scores.salud_fin.ahorro.1}}" class="ahorro_salud">
  <input type="hidden" value="{{scores.salud_fin.ahorro.2}}" class="ahorro_salud">

{% endblock %}

{% block customjs %}
<script>
        function am4themes_myTheme(target) {
            if (target instanceof am4core.ColorSet) {
                target.list = [
                    am4core.color("#238d85"),
                    am4core.color("#C2161F"),
                    am4core.color("#1B3E84")
                ];
            }
        }
        am4core.useTheme(am4themes_myTheme);

        var chart = am4core.create("chartdiv3", am4charts.XYChart);
        //chart.numberFormatter.numberFormat = "#''";
        var gastos = $('.gastos_mensuales');
        var ahorros = $('.ahorro_mensual');
        var ingresos = $('.ingresos_mensuales');
        data = [];
        $.each(gastos,function(index,value){
            gasto = gastos[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            ingreso = ingresos[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            ahorro = ahorros[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            data.push({
                "mes":JSON.parse(gasto)['mes']+'/'+JSON.parse(gasto)['year'],
                "ingreso":JSON.parse(ingreso)['ingresos'],
                "gasto":JSON.parse(gasto)['gastos'],
                "ahorro":JSON.parse(ahorro)['ahorro']
            });
        });
        chart.data = data;

        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "mes";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 30;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "total";
        valueAxis.title.fontWeight = 800;

        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.valueY = "ingreso";
        series.dataFields.categoryX = "mes";
        series.clustered = false;
        series.tooltipText = "Ingreso mensual {valueY}";

        var series2 = chart.series.push(new am4charts.ColumnSeries());
        series2.dataFields.valueY = "gasto";
        series2.dataFields.categoryX = "mes";
        series2.clustered = false;
        series2.columns.template.width = am4core.percent(65);
        series2.tooltipText = "Gastos mensuales {valueY}";
        
        var series3 = chart.series.push(new am4charts.ColumnSeries());
        series3.dataFields.valueY = "ahorro";
        series3.dataFields.categoryX = "mes";
        series3.clustered = false;
        series3.columns.template.width = am4core.percent(50);
        series3.tooltipText = "Ahorro {valueY}";

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineX.disabled = true;
        chart.cursor.lineY.disabled = true;

    </script>
    <script>
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv4", am4charts.XYChart);

        var balances = $('.balance_fin_mes');
        data = []
        $.each(balances,function(index,value){
            balance = value.value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            data.push({
                'mes':JSON.parse(balance)['mes']+'/'+JSON.parse(balance)['year'],
                'saldo':JSON.parse(balance)['saldo']
            })
            console.log(data)
        });
        // Add data
        chart.data = data;

        // Create axes

        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "mes";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 30;

        categoryAxis.renderer.labels.template.adapter.add("dy", function(dy, target) {
          if (target.dataItem && target.dataItem.index & 2 == 2) {
            return dy + 25;
          }
          return dy;
        });

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "Saldo fin de mes";
        valueAxis.title.fontWeight = 800;
        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.valueY = "saldo";
        series.dataFields.categoryX = "mes";
        series.name = "Saldos";
        series.columns.template.tooltipText = "Saldo: {categoryX}: [bold]{valueY}[/]";
        series.columns.template.fillOpacity = .8;

        var columnTemplate = series.columns.template;
        columnTemplate.strokeWidth = 2;
        columnTemplate.strokeOpacity = 1;
    </script>
    <script>
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv5", am4charts.XYChart);


        data = []
        var viviendas = $('.vivienda_score');
        var deudas = $('.deuda_score');
        var ahorros = $('.ahorro_score');
        var libertades = $('.libertad_score');
        $.each(viviendas,function(index,value){
            vivienda = viviendas[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            deuda = deudas[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            ahorro = ahorros[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            libertad = libertades[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            data.push({
                'year':JSON.parse(deuda)['mes']+'/'+JSON.parse(deuda)['year'],
                'ahorro':JSON.parse(ahorro)['score_ahorro']+'%',
                'deuda':JSON.parse(deuda)['score_esfuerzo_deuda']+'%',
                'libertad':JSON.parse(libertad)['score_libertad_fin']+'%',
                'vivienda':JSON.parse(vivienda)['score_esfuerzo_viv']+'%'
            });
            console.log(data)
            });

            chart.data = data;

        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "year";
        categoryAxis.renderer.grid.template.location = 0;


        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.inside = true;
        valueAxis.renderer.labels.template.disabled = true;
        valueAxis.min = 0;

        // Create series
        function createSeries(field, name) {
          
          // Set up series
          var series = chart.series.push(new am4charts.ColumnSeries());
          series.name = name;
          series.dataFields.valueY = field;
          series.dataFields.categoryX = "year";
          series.sequencedInterpolation = true;
          
          // Make it stacked
          series.stacked = true;
          
          // Configure columns
          series.columns.template.width = am4core.percent(60);
          series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";
          
          // Add label
          var labelBullet = series.bullets.push(new am4charts.LabelBullet());
          labelBullet.label.text = "{valueY}";
          labelBullet.locationY = 0.5;
          
          return series;
        }

        createSeries("libertad", "Libertad");
        createSeries("deuda", "Deuda");
        createSeries("ahorro", "Ahorro");
        createSeries("vivienda", "Vivienda");

        // Legend
        chart.legend = new am4charts.Legend();
    </script>
    <script>
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv6", am4charts.XYChart);


        data = []
        var viviendas = $('.vivienda_salud');
        var deudas = $('.deuda_salud');
        var ahorros = $('.ahorro_salud');
        var libertades = $('.libertad_salud');
        $.each(viviendas,function(index,value){
            vivienda = viviendas[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            deuda = deudas[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            ahorro = ahorros[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            libertad = libertades[index].value.replace(/\\n/g, "\\n").replace(/\\'/g, '\\"').replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f").replace(/[\u0000-\u001F]+/g,"").replace(/\'/g,'"');
            data.push({
                'year':JSON.parse(deuda)['mes']+'/'+JSON.parse(deuda)['year'],
                'ahorro':JSON.parse(ahorro)['tasa_ahorro']+'%',
                'deuda':JSON.parse(deuda)['esfuerzo_deuda']+'%',
                'libertad':JSON.parse(libertad)['libertad_fin']+'%',
                'vivienda':JSON.parse(vivienda)['esfuerzo_viv']+'%'
            });
            console.log(data)
            });

            chart.data = data;

        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "year";
        categoryAxis.renderer.grid.template.location = 0;


        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.inside = true;
        valueAxis.renderer.labels.template.disabled = true;
        valueAxis.min = 0;

        // Create series
        function createSeries(field, name) {
          
          // Set up series
          var series = chart.series.push(new am4charts.ColumnSeries());
          series.name = name;
          series.dataFields.valueY = field;
          series.dataFields.categoryX = "year";
          series.sequencedInterpolation = true;
          
          // Make it stacked
          series.stacked = true;
          
          // Configure columns
          series.columns.template.width = am4core.percent(60);
          series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";
          
          // Add label
          var labelBullet = series.bullets.push(new am4charts.LabelBullet());
          labelBullet.label.text = "{valueY}";
          labelBullet.locationY = 0.5;
          
          return series;
        }

        createSeries("libertad", "Libertad");
        createSeries("deuda", "Deuda");
        createSeries("ahorro", "Ahorro");
        createSeries("vivienda", "Vivienda");

        // Legend
        chart.legend = new am4charts.Legend();
    </script>


{% endblock customjs %}
