<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">

    <title>FineFine :: {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">
</head>

<body>
    <div class="sidebar-menu">
        <div class="position-relative">
            <img src="{{STATIC_URL}}img/logo_white_sm.png" class="img-fluid img-sm">
            <img src="{{STATIC_URL}}img/logo_white.png" class="img-fluid img-lg">
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <i class="fas fa-th"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-credit-card"></i>
                    <p>Cuentas</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <div class="container-fluid">
            <div class="d-flex justify-content-end align-items-center"> 
                <h4 class="m-0 mr-4">Bienvenido Jesús</h4>
                <div class="w-25">
                    <a class="btn btn-block btn-login text-white" href="#">Registrar nuevas credenciales</a>
                    <a href="{% url 'login:logout' %}"><small>Cerrar sesión</small></a>
                </div>
            </div>
            <div class="row">
              {% block content %}{% endblock %}
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    {% block customjs %}

    {% endblock customjs %}

</body>

</html>
